@model SHOP_DECOMPILED.Models.System_users

@{
    ViewData["Title"] = "Create new uers";
    Layout = "~/Views/Shared/fuel_layout.cshtml";

}
<div class="container-fluid w3-card p-3 bg-white">
    <h5>Account details &nbsp;&nbsp;|&nbsp;&nbsp;@Html.DisplayFor(model => model.Full_name)</h5>

</div>

<p>
    <a asp-action="Create" class="btn w3-card bg-white mt-3"><i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;Add New</a>
</p>
<div class="container-fluid p-3 w3-card bg-white">

    <div>
        <h4>System_users</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Full_name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Full_name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.National_id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.National_id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Roles)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Roles)
            </dd>
        </dl>
    </div>
</div>
<div class="w3-card bg-white p-2 mt-2">
    <a class="btn btn-success btn-sm text-light" onclick="goBack()"><i class="fa fa-angle-float-left"></i>&nbsp;Back</a>

    <a asp-action="Mofify" class="btn btn-success btn-sm" asp-route-id="@Model.id"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
</div>
