@model IEnumerable<SHOP_DECOMPILED.Models.Refill_history>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fuel_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ammount_refilled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_refilled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.initial_readings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.final_readings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.agent_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fuel_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ammount_refilled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_refilled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.initial_readings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.final_readings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.agent_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
