@model IEnumerable<SHOP_DECOMPILED.Models.General_sales_history>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attendant_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_cash_made)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_paybill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_at_hand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.On_credit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availlable_cash)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Attendant_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_cash_made)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cash_paybill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cash_at_hand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expenses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.On_credit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availlable_cash)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
