@model SHOP_DECOMPILED.Models.Individual_fuel_Sales_history

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Individual_fuel_Sales_history</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fuel_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fuel_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Litres_sold)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Litres_sold)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remaining_fuel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remaining_fuel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cash_made)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cash_made)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
